extends _layout.pug

block variables
  -
    var title = 'Проектные работы в Москве – архитектурное бюро ГлобАрх'
    var description = 'Обращайтесь в архитектурное бюро ГлобАрх и получите выгодное коммерческое предложение, рассчитаем цену за 30 минут. Проводим проектные работы, занимаемся дизайном, ремонтом и строительством. Архитектурное проектирование в Москве и других регионах.'
    var index = true

block content
  include components/services.pug
  include components/about.pug
  include components/price.pug
  include components/order.pug
  include components/benefits.pug
  include components/scheme.pug
  include components/portfolio.pug
  include components/order2.pug
