-
  var benefits = {
    header: 'Гарантируем эффективный и продуманный результат архитектурного проектирования',
    items: [
      {
        image: 'img/benefits-01.svg',
        text: 'Реализовали сотни индивидуальных проектов разной сложности – от загородных домов и коттеджей до общественных зданий.'
      },
      {
        image: 'img/benefits-02.svg',
        text: 'В проектных работах используем отлаженные международные методики, адаптируем западные технологии под наши реалии.'
      },
      {
        image: 'img/benefits-03.svg',
        text: 'Учитываем все при планировке этажей: как устроена инженерная система, где может стоять мебель в будущем интерьере и т.д.'
      },
      {
        image: 'img/benefits-04.svg',
        text: 'В команде проектного бюро – специалисты с профильным образованием МАРСХИ, МГСУ и других ведущих вузов.'
      },
      {
        image: 'img/benefits-05.svg',
        text: 'Глобально продумываем концепцию, чтобы результат проектных работ полностью отвечал поставленным задачам.'
      },
      {
        image: 'img/benefits-06.svg',
        text: 'Специалисты архитектурного бюро предлагают эксклюзивные решения, в основе которых – видение заказчика.'
      },
      {
        image: 'img/benefits-07.svg',
        text: 'Вы в любой момент можете связаться со специалистом архитектурного бюро – менеджер всегда на связи.'
      },
      {
        image: 'img/benefits-08.svg',
        text: 'Слаженная работа архитекторов, инженеров и дизайнеров – залог того, что проект будет продуман в деталях.'
      },
    ],
    button: { href: '#', text: '' }
  }

.benefits#benefits
  .container
    h2.benefits__header !{benefits.header}
    .benefits-items
      each item in benefits.items
        .benefits__item
          .benefits__item-image-part
            img.benefits__item-image(src=item.image, alt='')
          .benefits__item-text-part !{item.text}
