-
  var intro = {
    header: 'Архитектурное <br>проектирование и дизайн',
    texts: [
      'Доверьте профессионалам воплощение в жизнь самых смелых идей — разрабатываем проекты жилых и общественных зданий, элитных коттеджей, загородных домов и квартир с индивидуальным дизайном интерьеров и удобными планировками.',
      'Работаем в Москве, Московской области и других регионах России. Проводим обмерные работы бесплатно.'
    ],
  }

.intro#intro
  h1.intro__header !{intro.header}
  .intro__text
    each p in intro.texts
      p !{p}
  +form('intro__form', 'Получите выгодное коммерческое предложение за 30 минут')
